@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/


.table-img{
    width: 80px;
    height: 47px;
    border-radius: 10px;
}

.action-icons{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-dialog {
    box-shadow: none;
}

.search-container .search input {
        border: initial;
        background: transparent;
        outline: initial!important;
        padding: 0.5rem 1rem;
        line-height: 1.75;
        font-size: .8rem;
        width: 93%;
        color: #3a3a3a;
}
.search-container .search{
    position: relative;
    width: 230px;
    border-radius: 20px;
    background: #fff;
}
.search-container .search-icon{
    font-size: 17px;
    border-radius: 10px;
    color: #d7d7d7;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -10px;
    right: 3px;
    text-align: center;
    cursor: pointer;
}

.sort-column{
cursor: pointer;
}
.sort-column.sort-asc::after{
    content: '\e887';
    font-family: "iconsminds";
}

.sort-column.sort-desc::after{
    content: '\e84e';
    font-family: "iconsminds";
}



.custom-preview.dropzone{
    padding: 0px !important;
    border: 0px !important;
    min-height: 75px !important;
}

.display-inline{
    display: inline;
}
.profile_image{
    padding: 7px 15px;
    background-color: $theme-color-purple-monster;
    border-radius: 15px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}